// COLORS
$color-primary: #50E2F5;
$color-primary-light: #9DF7F3;
$color-primary-dark: #5368F5;
$color-azure: #EDF7F6;
$color-lightpink: #FFA7B6;
$color-bordeaux: #A17F89;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;